body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

nav,
main,
aside,
figure,
footer,
header,
section,
summary,
article,
details,
figcaption {
  display: block;
}

video,
audio,
canvas {
  display: inline-block;
}

[hidden],
audio:not([controls]) {
  display: none;
}

body {
  height: 100%;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

input,
select,
button,
a:hover,
textarea,
a:active {
  outline: 0;
}

img,
abbr,
input,
button,
iframe,
textarea {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

input,
button,
select,
textarea,
[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input,
button,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: border linear .2s, box-shadow linear .2s, background linear .2s;
  -webkit-transition: border linear .2s, background linear .2s, -webkit-box-shadow linear .2s;
  transition: border linear .2s, background linear .2s, -webkit-box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s, background linear .2s;
  transition: border linear .2s, box-shadow linear .2s, background linear .2s, -webkit-box-shadow linear .2s;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input,
button {
  line-height: normal;
}

button,
label[for],
[type=reset],
[type=button],
[type=submit] {
  cursor: pointer;
}

button,
[type=reset],
[type=button],
[type=submit] {
  -webkit-appearance: button;
}

body,
[disabled] {
  cursor: default;
}

input,
button,
select,
textarea,
[type=radio],
[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
body,
input,
button,
select,
figure,
textarea,
figcaption {
  margin: 0;
}

p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
figure,
figcaption,
[type=radio],
[type=checkbox] {
  padding: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

ol,
ul {
  list-style: none;
}

img,
textarea {
  vertical-align: top;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 980px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

#cubes {
  z-index: -1;
}

.hide {
  opacity: 0;
  -webkit-transition: opacity 2000ms;
  transition: opacity 2000ms;
}

.show {
  opacity: 1;
}

.cube {
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.cube:nth-child(1) {
  top: 60%;
  left: 10%;
}

.cube:nth-child(2) {
  top: 12%;
  left: 59%;
}

.cube:nth-child(2) .inner div {
  background-color: #d0d7e4;
}

.cube:nth-child(3) {
  top: 65%;
  left: 80%;
  width: 300px;
  height: 300px;
}

.cube:nth-child(3) .inner div {
  background-color: #d0d7e4;
}

.cube:nth-child(3) .inner .top {
  -webkit-transform: translate3d(0, -50%, -150px) rotateX(90deg);
  transform: translate3d(0, -50%, -150px) rotateX(90deg);
}

.cube:nth-child(3) .inner .right {
  -webkit-transform: translate3d(50%, 0, -150px) rotateY(90deg);
  transform: translate3d(50%, 0, -150px) rotateY(90deg);
}

.cube:nth-child(3) .inner .bottom {
  -webkit-transform: translate3d(0, 50%, -150px) rotateX(-90deg);
  transform: translate3d(0, 50%, -150px) rotateX(-90deg);
}

.cube:nth-child(3) .inner .left {
  -webkit-transform: translate3d(-50%, 0, -150px) rotateY(-90deg);
  transform: translate3d(-50%, 0, -150px) rotateY(-90deg);
}

.cube:nth-child(3) .inner .back {
  -webkit-transform: translate3d(0, 0, -300px) rotateX(-180deg);
  transform: translate3d(0, 0, -300px) rotateX(-180deg);
}

.cube .inner {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 90% 50%;
  -ms-transform-origin: 90% 50%;
  transform-origin: 90% 50%;
}

.cube .inner div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #d0d7e4;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cube .inner .top {
  -webkit-transform: translate3d(0, -50%, -100px) rotateX(90deg);
  transform: translate3d(0, -50%, -100px) rotateX(90deg);
}

.cube .inner .right {
  -webkit-transform: translate3d(50%, 0, -100px) rotateY(90deg);
  transform: translate3d(50%, 0, -100px) rotateY(90deg);
}

.cube .inner .bottom {
  -webkit-transform: translate3d(0, 50%, -100px) rotateX(-90deg);
  transform: translate3d(0, 50%, -100px) rotateX(-90deg);
}

.cube .inner .left {
  -webkit-transform: translate3d(-50%, 0, -100px) rotateY(-90deg);
  transform: translate3d(-50%, 0, -100px) rotateY(-90deg);
}

.cube .inner .back {
  -webkit-transform: translate3d(0, 0, -200px) rotateX(-180deg);
  transform: translate3d(0, 0, -200px) rotateX(-180deg);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
}

.hidden {
  display: none;
}

a:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: transparent;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.button {
  display: inline-block;
  padding: 14px 22px;
  color: #000;
  cursor: pointer;
  max-width: 200px;
  text-align: center;
  background: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 22px;
}

.header__inner {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  color: #000;
  text-decoration: none;
  font-family: "Russo One", Arial, sans-serif;
  font-size: 30px;
}

.logo:focus,
.logo:hover {
  text-decoration: none;
  outline: none;
}

.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 30px;
}

.header__link {
  position: relative;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__link::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 1px;
  background: #000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__link:hover::after {
  width: 100%;
}

.header__link.focused {
  font-weight: 600;
}

.main__top {
  position: relative;
  background: #000;
}

.main__front {
  position: relative;
  padding: 7.5% 0;
  color: #fff;
}

.main__slogan-title {
  line-height: 1.5;
  font-weight: 400;
  font-size: 38px;
}

.main__code {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
}

.main__code-item {
  line-height: 1;
  max-width: 300px;
}

.main__code-item:not(:last-child) {
  margin-right: 80px;
}

.main__code-item-letter {
  text-transform: uppercase;
  font-size: 250px;
}

.main__code-item-key {
  text-align: center;
  text-transform: lowercase;
  font-size: 22px;
}

.main__action {
  margin-top: 30px;
}

.about {
  font-size: 24px;
}

.about__top {
  background: #fff;
}

.about__info {
  position: relative;
  padding: 90px 16%;
}

.about__text {
  line-height: 1.5;
  font-size: 20px;
  font-weight: 300;
}

.about__text:not(:last-child) {
  padding-bottom: 50px;
}

.about__focused {
  padding: 65px 0;
  background: #000;
}

.about__title {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  z-index: 2;
}

.services {
  background: #757f9a;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #757f9a), color-stop(35%, #d7dde8));
  background: linear-gradient(to right, #757f9a 35%, #d7dde8);
  position: relative;
  padding: 80px 0;
  overflow: hidden;
}

.services__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__item {
  position: relative;
  max-width: 400px;
  height: 400px;
  padding: 50px 45px 100px 45px;
  background: #ededed;
  border: 10px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.services__title {
  font-size: 40px;
  font-weight: 600;
}

.services__desc {
  padding: 30px 0 65px 0;
}

.services__link {
  position: absolute;
  display: inline-block;
  background: #000;
  color: #fff;
  bottom: 63px;
  margin-left: -85px;
  padding: 15px 65px 15px 45px;
  font-size: 22px;
  text-decoration: none;
}

.tech {
  background: #fff;
}

.tech__img {
  display: none;
  font-size: 0;
}

.tech__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 0;
}

.tech__item {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #000;
  font-size: 0;
}

.tech__link {
  text-decoration: none;
}

.tech__title {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.tech .about__title {
  line-height: 1;
  text-transform: uppercase;
  font-size: 30px;
}

.tech .about__title .tech__title-work {
  font-weight: 400;
}

.feedback {
  padding: 60px 0;
  background: url("../img/form-bg.png") no-repeat 50% 50%;
  background-size: cover;
}

.feedback__ready {
  color: #000;
  text-align: center;
  font-weight: 600;
  font-size: 45px;
}

.feedback__inner-top {
  position: relative;
}

.feedback__thnx {
  text-align: center;
  font-size: 35px;
}

.feedback__input_wrap {
  position: relative;
  margin-bottom: 15px;
}

.feedback__input {
  width: 100%;
  padding: 10px 0;
  background: transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid #000;
}

.feedback__input:hover {
  border-color: grey;
}

.feedback__input-textarea {
  padding-left: 10px;
  border: 1px solid #000;
}

.feedback__submit {
  color: #fff;
  padding: 10px 25px;
  background: #000;
}

.svg__line {
  position: absolute;
}

.main__front {
  display: none;
}

@media screen and (min-width: 980px) {
  .tech__item {
    margin-right: 52px;
  }

  .tech__item:nth-child(5n+5) {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .services__list {
    margin-left: 30px;
  }

  .services__item:not(:first-child) {
    margin-top: -130px;
  }

  .services__item:nth-child(2) {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .services__item:last-child {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

@media screen and (max-width: 980) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .tech__item {
    margin-right: 40px;
  }
}

@media screen and (max-width: 480) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}