body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

nav,
main,
aside,
figure,
footer,
header,
section,
summary,
article,
details,
figcaption {
  display: block;
}

video,
audio,
canvas {
  display: inline-block;
}

[hidden],
audio:not([controls]) {
  display: none;
}

body {
  height: 100%;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

input,
select,
button,
a:hover,
textarea,
a:active {
  outline: 0;
}

img,
abbr,
input,
button,
iframe,
textarea {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

input,
button,
select,
textarea,
[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input,
button,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: border linear .2s, box-shadow linear .2s, background linear .2s;
  -webkit-transition: border linear .2s, background linear .2s, -webkit-box-shadow linear .2s;
  transition: border linear .2s, background linear .2s, -webkit-box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s, background linear .2s;
  transition: border linear .2s, box-shadow linear .2s, background linear .2s, -webkit-box-shadow linear .2s;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input,
button {
  line-height: normal;
}

button,
label[for],
[type=reset],
[type=button],
[type=submit] {
  cursor: pointer;
}

button,
[type=reset],
[type=button],
[type=submit] {
  -webkit-appearance: button;
}

body,
[disabled] {
  cursor: default;
}

input,
button,
select,
textarea,
[type=radio],
[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
body,
input,
button,
select,
figure,
textarea,
figcaption {
  margin: 0;
}

p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
figure,
figcaption,
[type=radio],
[type=checkbox] {
  padding: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

ol,
ul {
  list-style: none;
}

img,
textarea {
  vertical-align: top;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  background: #fff;
}

a:focus {
  outline: none;
}

.button {
  display: inline-block;
  padding: 20px 45px;
  color: #000;
  cursor: pointer;
  max-width: 200px;
  text-align: center;
  background: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 22px;
}

.header__inner {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  color: #000;
  text-decoration: none;
  font-family: "Russo One", Arial, sans-serif;
  font-size: 35px;
}

.logo:focus,
.logo:hover {
  text-decoration: none;
  outline: none;
}

.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 30px;
}

.header__link {
  position: relative;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__link::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 1px;
  background: #000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__link:hover::after {
  width: 100%;
}

.header__link.focused {
  font-weight: 600;
}

.main .main__top {
  background: #000;
}

.main__front {
  height: -webkit-calc(100vh - 80px);
  height: calc(100vh - 80px);
  padding: 7% 0;
  color: #fff;
  background: #000;
}

.main__slogan-title {
  font-weight: 400;
  font-size: 42px;
}

.main__code {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
}

.main__code-item {
  line-height: 1;
}

.main__code-item:not(:last-child) {
  margin-right: 80px;
}

.main__code-item-letter {
  text-transform: uppercase;
  font-size: 200px;
}

.main__code-item-key {
  text-align: center;
  text-transform: lowercase;
  font-size: 25px;
}

.main__action {
  margin-top: 30px;
}

.about {
  font-size: 24px;
}

.about__inner {
  padding: 90px 16%;
}

.about__text {
  font-weight: 300;
  line-height: 1.5;
}

.about__text:not(:last-child) {
  margin-bottom: 50px;
}

.about__focused {
  padding: 65px 0;
  background: #000;
}

.about__title {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

@media screen and (min-width: 1199px) {
  .container {
    max-width: 1170px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 770px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}