@import '_variables.sass'

.noUi-horizontal
  height: 2px

.noUi-target
  margin-top: 15px
  border-color: $greenLight
  box-sizing: border-box
  padding-right: 10px
  z-index: 9

.noUi-horizontal .noUi-handle
  border-radius: 50%
  border: none
  background: $gradientLightToLeft
  box-shadow: none
  width: 20px
  height: 20px
  transition: all .3s ease
  cursor: pointer
  top: -10px
  &::before, &::after
    display: none
  &:focus
    outline: none
  &.noUi-active
    background: $gradientLightToRight